<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Articulate</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/creative.css" type="text/css">
	<link rel="stylesheet" href="index.css" type="text/css">

	<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	
</head>

<body ng-app="myApp" ng-controller="myCtrl" id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Articulate</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#analysis">Analysis</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#summary">Summary</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#article">Article</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About Us</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header bg = "file:///Users/Leah/Desktop/public-domain-images-free-stock-photos-high-quality-resolution-downloads-around-the-house-7.jpg">
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Analyze Text</h1><br>
                <p>Enter the URL of an article for summary statistics</p>
                <form id = "putURL" class="container" name="articleForm">
    				<div class="button_box2 form-group search" ng-class="{'has-error':articleForm.search.$touched && articleForm.search.$invalid}">
    					<div class="form-wrapper-2 cf">
    						<input id="search" name="search" placeholder="Enter your search.." ng-model="article" class="form-control" ng-minlength="2" required></input>

                            <!-- Submit button -->
    						<div class="form-group">
                                <button class="btn btn-primary btn-block" ng-click="getAuthor()" type="submit">Submit</button>
                            </div>
    					</div>
    				</div>
                </form>
            </div>
        </div>
    </header>
	
    <section class="bg-primary" id="analysis" style="display: None">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
					<h1 class="section-heading">Analysis</h1>
                </div>
            </div>
        </div>
    </section>

	<section id="summary" style="display: None">
        <div class="container">
            <div class="row">
				<div class="col-lg-8 col-lg-offset-2 text-center">
					<h1 class="section-heading"id="sum">Summary</h1>
                    <h3 style="font-style: italic">{{articleObject.title}} by {{articleObject.author}}</h3>
					<p id="summtext"></p>
				</div>
			</div>
		</div>
	</section>

    <section class="bg-primary" id="article" style="display: None">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h1 class="section-heading">Original Article</h1>
                    <br>
					<p>{{articleObject.text}}</p>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h2 class="section-heading">Hello from the Team!</h2>
                    <hr class="primary">

                    <img src="img/teamMembers/Cee1.jpg" alt="Cee" width=170/> 

                    <img src="img/teamMembers/Melissa1.jpg" alt="Melissa" width=170/>
                    
                    <img src="img/teamMembers/Khulan1.jpg" alt="Khulan" width=170/> 

                    <img src="img/teamMembers/Leah1.jpg" alt="Leah" width=170/> 

                    <img src="img/teamMembers/Royce1.jpg" alt="Royce" width=170/> 
                </div>

				<!--
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a></p>
                </div> -->
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>
	
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-sanitize.js"></script>

    <!-- Algorithmia -->
    <script src="js/algorithmia-0.2.0.js"></script>

    <!-- Javascript -->
    <script src="app.js"></script>
	
</body>

</html>